





.chat-header__top {
  background-color: #ffd8f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.chat-header__top-title {
  display: flex;
  align-items: center;
}
.chat-header__top-font {
  font-size: 30px;
  margin-left: 10px;
}

.chat-header__top-icons img {
  height: 40px;
  width: 40px;
}




.chat-main__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  animation: date 2s ease-in-out;
}

@keyframes date {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat-main__date span {
  background-color: #bdafbc;
  padding: 7px 18px;
  border-radius: 20px;
}



.chat-main__avatar-text {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  animation: chat1 2s ease-in-out;
}

.chat-main__avatar-text span,
.chat-main__avatar-text2 span {
  background-color: #ffd8f6;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.chat-main__avatar-text span {
  margin-left: 20px;
}

@keyframes chat1 {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}

.chat-main__avatar-text2 span {
  margin-right: 20px;
}

.chat-main__avatar-text2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  animation: chat1-2 2s ease-in-out;
}

@keyframes chat1-2 {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}

.chat-main__avatar-text img,
.chat-main__avatar-text2 img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.chat-footer__frame {
  display: flex;
  width: 100%;
  position:fixed;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.chat-footer__input input {
  margin: 0px 20px;
  width: 500px;
  height: 30px;
}

.chat-footer__icons i{
  margin-right: 5px;
}